<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 마이바티스 작동 규칙 정의 -->
	<settings>
		<setting name="cacheEnabled" value="false"/>
		<setting name="useGeneratedKeys" value="false"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.group.exam.calendar.vo.CalendarVo" alias="calendar"/>
		<typeAlias type="com.group.exam.admin.vo.AdminVo" alias="AdminVo"/>
		<typeAlias type="com.group.exam.calendar.vo.CalendarBoardVo" alias="calendarBoardVo"/>
		<typeAlias type="com.group.exam.notice.vo.NoticeVo" alias="noticeVo"/>
		<typeAlias type="com.group.exam.qna.vo.QnaVo" alias="qnaVo"/>
		<typeAlias type="com.group.exam.board.vo.BoardVo" alias="boardVo" />
		<typeAlias alias="memberVo" type="com.group.exam.member.vo.MemberVo" />
		<typeAlias alias="replyVo" type="com.group.exam.board.vo.ReplyVo" />
	</typeAliases>
</configuration>